
/* Prestige button */
.reset {
	height: 120px;
	width: 180px;
	border-radius: 25%;
	border: 4px solid;
	border-color: rgba(0, 0, 0, 0.125);
}

.tabButton {
	background-color: transparent;
	color: var(--color);
	font-size: 20px;
	cursor: pointer;
	padding: 5px 20px;
	margin: 5px;
	border-radius: 10px;
	border: 2px solid;
	color: var(--color);

}

.tabButton:hover {
	transform: scale(1.1, 1.1);
	text-shadow: 0 0 7px var(--color);
}

.tooltip { 
    pointer-events: none;
    text-align: center;
    width: 150px;
    font-size: 16px;
    line-height: 1.2;
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    transform: translateX(-50%);
    padding: 7px;
    font-family: "Lucida Console", "Courier New", monospace;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.5s;
  
    position: absolute;
    z-index: 20000;
  
    background-color: var(--background_tooltip);
    color: var(--points);
    content: attr(tooltip);
    font-size:14px;

}

.tooltip::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;

    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--background_tooltip) transparent transparent transparent;
}

/* Horizontal/vertical lines */
.vl {
	border-left: 6px solid var(--color);
	height: 100%;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 0
}

.hl {
	border-top: 3px solid var(--color);
}
@keyframes shake {
  0%   { transform: translate(0, 0); }
  20%  { transform: translate(-9px, -9px); }
  40%  { transform: translate(9px, 9px); }
  60%  { transform: translate(-9px, 9px); }
  80%  { transform: translate(9px, -9px); }
  100% { transform: translate(0, 0); }
}
.shake-animation-intense {
  animation: shake 0.4s ease-in-out infinite !important;
  display: inline-block;
  will-change: transform;
}
@keyframes shake-medium {
  0%   { transform: translate(0, 0); }
  20%  { transform: translate(-5px, -5px); }
  40%  { transform: translate(5px, 5px); }
  60%  { transform: translate(-5px, 5px); }
  80%  { transform: translate(5px, -5px); }
  100% { transform: translate(0, 0); }
}
.shake-animation-medium {
  animation: shake-medium 0.4s ease-in-out infinite !important;
  display: inline-block;
  will-change: transform;
}
@keyframes shake-light {
  0%   { transform: translate(0, 0); }
  20%  { transform: translate(-2px, -2px); }
  40%  { transform: translate(2px, 2px); }
  60%  { transform: translate(-2px, 2px); }
  80%  { transform: translate(2px, -2px); }
  100% { transform: translate(0, 0); }
}
.shake-animation-light {
  animation: shake-light 0.4s ease-in-out infinite !important;
  display: inline-block;
  will-change: transform;
}
@keyframes vibrate {
  0%   { transform: translate(0, 0); }
  20%  { transform: translate(-2px, 1px); }
  40%  { transform: translate(2px, -1px); }
  60%  { transform: translate(-1px, -2px); }
  80%  { transform: translate(1px, 2px); }
  100% { transform: translate(0, 0); }
}

.vibrate {
  display: inline-block;
  animation: vibrate 0.12s infinite linear;
  will-change: transform;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid white; /* color of the triangle */
}


